<section class="login-form mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 border border-2 shadow rounded p-5">
                <p class="mb-3" style="font-size: 26px;">Sign-In</p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-4">
                        <label for="email" class="form-control-label">Email</label>
                        <input class="form-control border border-top-0 border-end-0 border-start-0" type="text"
                            formControlName="email" id="email">
                        <div *ngIf="g.email.invalid && (g.email.dirty || g.email.touched)">
                            <small class="text-danger" *ngIf="g.email.errors.required">
                                Email field is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="password" class="form-control-label">Password</label>
                        <input class="form-control border border-top-0 border-end-0 border-start-0" type="password"
                            formControlName="password" id="password">
                        <p class="text-end">
                            <a style="text-decoration: none;" [routerLink]="['/user/forgot-password']">forgot
                                password?</a>
                        </p>
                        <div *ngIf="g.password.invalid && (g.password.dirty || g.password.touched)">
                            <small class="text-danger" *ngIf="g.password.errors.required">
                                Password field is required
                            </small>
                        </div>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" formControlName="rememberMe" id="rememberMe"
                            value="">
                        <label for="rememberMe" class="form-check-label">Remember me (optional)</label>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mb-1">
                        <button class="btn btn-primary shadow" type="submit">Submit</button>
                    </div>
                </form>
                <a class="nav-link active text-center mb-3" aria-current="page" [routerLink]="['/auth/register']">Not account yet?
                    Sign
                    Up?</a>
                <div class="text-center">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-danger shadow" type="submit" (click)="loginWithGoogle()">Google</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <app-login-alert-modal [val]="messages" *ngIf="messages.loggedInFromAnotherDevice || messages.accountDeleted || messages.emailInvalid || messages.passwordInvalid" (close)="messages.loggedInFromAnotherDevice = null;messages.accountDeleted = null;messages.emailInvalid = null;messages.passwordInvalid = null;"></app-login-alert-modal>
    </div>
</section>