<nav class="navbar navbar-expand-md bg-primary fixed-top shadow mx-2">
    <div class="container">
        <a class="navbar-brand text-white" href="#">Rubbles</a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/products/list']">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" [routerLink]="['/auth/auth-code']">AuthCode</a>
                </li>
            </ul>
            <app-auth-links></app-auth-links>
            <app-cart-widget></app-cart-widget>
        </div>
    </div>
</nav>