<div class="backdrop"></div>
<div class="alert-box">
    <div *ngIf="val.accountDeleted">
        <p class="fs-5 fw-semibold">Invalid! Email belongs to a Deleted Account.</p>
    </div>
    <div *ngIf="val.emailInvalid">
        <p class="fs-5 fw-semibold">Invalid Email or LastName</p>
    </div>
    <div *ngIf="val.lastNameInvalid">
        <p class="fs-5 fw-semibold">Invalid Email or LastName.</p>
    </div>
    <div *ngIf="val.passwordResetLinkSent">
        <p class="fs-5 fw-semibold">Check your email for password reset link.</p>
    </div>
    <div class="alert-box-actions text-end">
        <button class="btn btn-primary btn-sm rounded shadow" type="button" (click)="onCloseClick()">Close</button>
    </div>
</div>
